# Created by http://www.gitignore.io

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Configurations
*.conf
!default.conf

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
_build/

# Build areas
*egg-info
build/
dist/