language: python
python: 
  - "2.6"
  - "2.7"
  - "3.3"
  - "pypy"
services:
  - mongodb
virtualenv:
  system_site_packages: true
before_instal:
  - apt-get install python-sphinx
install: "pip install -r requirements.txt"
script:
  - nosetests webapp/start.py lib/*.py modules/acquisition/*.py core/*.py
  - ls -al
  - sphinx-build -b html -d docs/_build/doctrees docs docs/_build/html

matrix:
  allow_failures:
    - python: "3.3"
    - python: "pypy"
