<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/slide-01.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>Olympus Toxicology Mapping Project</h1>
					<p class="lead">Using automated, prepared procedures to simplify your biological research.</p>
					<a class="btn btn-large btn-primary" href="/interface">Get started right away</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="img/slide-02.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>Easy module management</h1>
					<p class="lead">Only select the parts that are required by your team. Enable and disable modules with ease.</p>
					<a class="btn btn-large btn-primary" href="#">Learn more</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="img/slide-03.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>Presenting data with ease</h1>
					<p class="lead">Export the results in any format you need, whether you want to view them in your browser or use them directly in your reports.</p>
					<a class="btn btn-large btn-primary" href="#">Browse gallery</a>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->