{% extends "main.html" %} {% block index %}
<div class="container moduleloader">
	<p></p>
	<ol class="breadcrumb">
		<li>
			<a href="/">Olympus</a>
		</li>
		<li class="active">ModuleLoader</li>
	</ol>
	{% set enabledModules = loader.getEnabledModules() %}
	<div class="row">
		<div class="col col-md-12">
			<h2 class="module-loader-title">ModuleLoader</h2>
			<span class=" add-module-link ">Add module</span>
		</div>
	</div>
	<div class="row add-module-row">
		<div class="col col-md-6 ">
			<h3>Add a module from GitHub</h3>
			<p>Type the username and repository name here to download it.</p>
			<p>
				<input type="text " class="form-control " id="github-download-input " placeholder="Example: HAN-Olympus/Olympus-PubMed " />
			</p>

			<button class=" btn btn-lg btn-primary download-button ">Download</button>
		</div>
		<div class="col col-md-6 ">
			<h3>Console</h3>
			<div class="console ">Output from the ModuleLoader progress will appear here.</div>
		</div>
	</div>

	<div class="row ">
		{% for category in modules.keys() %} {% set category_loop = loop %}
		<div class="{{category}}-container col col-md-12 ">
			<h3>{{category.title()}}</h3>
			<div class="module-container ">
				{% for module in modules[category] %} {% set zindex = 100 + category_loop.index %} {% set isEnabled = module in enabledModules[category] %}
				<div class="module-item " style="z-index: {{zindex}} " data-enabled="{{isEnabled|lower}}">
					<div class="panel panel-{% if isEnabled %}success{% else %}primary {% endif %} ">
						<div class="panel-heading ">
							<span class="module-name ">
								<span style="display:none; ">{{category}}.</span>{{module}}
							</span>
							<span class="module-buttons btn-group ">
								<button type="button " class="btn btn-default btn-xs {% if isEnabled %}disable-module{% else %}enable-module{% endif %} ">
									<span class="glyphicon glyphicon-{% if isEnabled %}remove{% else %}ok{% endif %} "></span>
							</button>
							<button type="button " class="btn btn-default btn-xs expand-module-description ">
								<span class="glyphicon glyphicon-align-left "></span>
							</button>

						</div>
						<div class="panel-body ">
							{% autoescape false %} {% set doc = modules[category][module].__doc__ %} {% if doc != None %}
							<span class="module-description ">{{doc.strip()|replace("\n "," <br/>")}}</span>
							{% else %}
							<span class="module-description">This module does not have any documentation.</span>
							{% endif %} {% endautoescape %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>{% endfor %}
	</div>
	<br/>
	<div class="row">
		<div class="col col-md-12">
			<a class="btn btn-lg btn-default" href="">Reset</a>
			<a class="btn btn-lg btn-primary submit">Submit this configuration</a>
		</div>
	</div>
</div>

{{ deferJS("/js/moduleloader.js", 3) }} {% endblock %}
