{% extends "main.html" %}
{% block index %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Your research subject &ndash; visual</h1>
        <p>
			Using ToxProject you can visualize your research subject. Using GLMol you can display 3D versions of chemicals right in your browser.
			We use OpenBabel to translate between a variety of filetypes.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
	<div class="container">
		<div id="samplemol" style="width: 100%; height: 400px; background-color: #eeeeee; border-radius: 5px; position:relative;">
			<div class="loading" style="position: absolute; width: 200px; left: 50%; margin-left: -100px; background: rgba(0,0,0,0.2); text-align: center; line-height: 50px; border-radius: 5px; color: white; text-shadow: rgba(0,0,0,0.5) 1px 1px 0px; top: 50%; margin-top: -25px; font-weight: bold;">
				Loading...
			</div>
		</div> 
		<textarea id="samplemol_src" style="display: none;">
		</textarea>
	</div>
	
	<script src="js/Three49custom.js"></script>
	<script type="text/javascript" src="js/GLmol.js"></script>
	<script>
		function loadMolecule(filename) {
			$("#samplemol_src").load("pdb/" + encodeURIComponent(filename), function () {
				$(".loading").fadeOut();
				var glmol02 = new GLmol('samplemol');
			});
			}
			$(function () {
				loadMolecule("CCc1nn(C)c2c(=O)[nH]c(nc12)c3cc(ccc3OCC)S(=O)(=O)N4CCN(C)CC4")
			});
	</script>
{% endblock %}